.sign-up .title {
    text-align: center;
    padding: 1rem 0;
    color: #FF3C90;
}

.sign-up-form {
    text-align: center;
    margin: auto;
}

.sign-up-label {
    font-size: 1.3rem;
    font-weight: 600;
    width: 50%;
    text-align: left;
}

.sign-up-input {
    width: 50%;
    height: 3rem;
    margin-bottom: 1rem;
    padding-left: .8rem;
    font-size: 1rem;
    padding-bottom: .1rem;
    outline: none;
}

.send-button {
    width: 50%;
    height: 3rem;
    background: #E83E8C;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 1.5rem 0;
    transition: background-color .5s ease .01ms;
    outline: none;
}

.send-button:hover {
    background: #D82E7C;
}


