<section class="sign-up">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title">Registration</h2>
                <form class="sign-up-form" method="post">
                    <label for="login" class="sign-up-label">Login</label>
                    <div class="input">
                        <input type="text" id="login" name="name" class="sign-up-input" autocomplete="off" placeholder="Enter your login">
                    </div>
                    <label for="email" class="sign-up-label">Email</label>
                    <div class="input">
                        <input type="text" id="email" name="email" class="sign-up-input" autocomplete="off" placeholder="Enter your email">
                    </div>
                    <label for="password" class="sign-up-label">Password</label>
                    <div class="input">
                        <input type="password" id="password" name="password" class="sign-up-input" autocomplete="off" placeholder="Enter your password">
                    </div>
                    <label for="confirmPassword" class="sign-up-label">Repeat password</label>
                    <div class="input">
                        <input type="password" id="confirmPassword" name="confirmPassword" class="sign-up-input" autocomplete="off" placeholder="Confirm your password">
                    </div>
                    <input type="submit" class="send-button" value="Sign up">
                </form>
            </div>
        </div>
    </div>
</section>
